.program-card {
    display: flex;
    width: 1070px;
    height: 140px;
    background-color: #FFF;
    border: 1px solid #E0E0E0;
    margin-top: 25px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.program-image {
    width: 212px;
    background-color: #E0E0E0;
    margin-right: 20px;
    border-radius: 8px;
}

.program-card h3 {
    font-size: 27px;
    font-weight: initial;
}

.program-card p {
    padding-top: 20px;
    color: #6C6969;
}

.program-details {
    flex-grow: 1;
    padding-left: 10px;
    padding-top: 10px;
}

.program-actions {
    display: flex;
    justify-content: flex-end;
    padding-top: 90px;
}

.program-actions button {
    width: 162px;
    height: 45px;
    margin-right: 12px;
    border: none;
    background-color: #00A896;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}

.program-actions button:hover {
    animation: pulse 0.7s ease-out .4s;
    background-color: #FFF;
    color: #00A896;
    border: 2px #00A896 solid;
}